@import "tailwindcss";

:root {
  --shadow-neu:
    12px 12px 25px rgba(163, 177, 198, 0.4),
    -12px -12px 25px rgba(255, 255, 255, 0.9);
  --shadow-neu-inset: inset 5px 5px 10px #a3b1c6, inset -5px -5px 10px #ffffff;

  --color-intial: #e6ebf2;
  --color-final: #d1d9e6;

  --font-sans: Helvetica;
}


